/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
    TUTTO
*/
main {
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    
    transition: all 2s ease-in-out;
    /* transition: width background-color .4s ease-in-out 3s; */
}

.box:hover {
    width: 400px;
    background-color: blue;
}

.box:active {
    background-color: green;
    transform: rotate(180deg);
}